h1
{
	text-align: center;
	text-decoration: none;
}

body
{
  	background: #f9f9f9;
  	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-weight: 100;
  	font-size: 14px;
}

.cell
{
	//transition-delay: 0.1s;
	transition-duration: 0.5s;
}

.scores
{
	text-align: center;
	margin: 10px 10px;
	width: 100%;
	font-size: 20px;
}

.score
{
	position: relative;
	margin: 10px 20px;
	padding: 10px 10px;
	display: inline-block;
	border: 2px solid #e5e5df;
	border-radius: 8px;
}

.score--is-current
{
	position: relative;
	margin: 10px 20px;
	padding: 10px 10px;
	display: inline-block;
	border: 2px solid #B7B7B7;
	border-radius: 8px;
}

.help-button
{
    background-color: #2192E4;
    border: none;
    color: white;
    margin: 10px 10px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
}
